**/build/
**/cmake-build-*/
**/CMakeFiles/
**/.vscode/
Makefile
Makefile.*
CMakeCache.txt
*.cmake
*.mk
cmake_install.cmake
config.ini
hft_server
hft_client
libhft_common.a
/server_config.ini
/client_config.ini
server_log.*
client_log.*
__pycache__
_deps
lib
Testing